.full-width-table {
  width: 100%;
}

.address-tooltip {
  max-width: unset !important;
}

.mat-row:hover {
  background-color: #ae52d4;
  color: #fff;
  cursor: pointer;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}
