<div class="mat-elevation-z8">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table class="full-width-table" aria-label="Elements" [dataSource]="dataSource">

    <!-- Account Address Column -->
    <ng-container matColumnDef="accountAddress">
      <th mat-header-cell *matHeaderCellDef>Account Address</th>
      <td mat-cell *matCellDef="let row">{{row.accountAddress}}</td>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>Balance</th>
      <td mat-cell *matCellDef="let row">{{row.balance|decimalPoint:row.tokenInfo.decimals}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="gotoAddressDetail(row.accountAddress)"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.balanceCount" [pageIndex]="0" [pageSize]="DEFAULT_PAGE_SIZE"
    [pageSizeOptions]="[5, 10, 20, 100]">
  </mat-paginator>
</div>